<DOCTYPE html>
<html>
{% include "guitutos/head.html" %}

<body>
{% include "guitutos/header.html" %}

<section id="bod">
<br/>
  
{% if request.user.is_authenticated %}

<form method="post" action="#">
  {% csrf_token %}
  Nom
  <input type="text" name="nom"/>
  URL youtube de la vidéo
  <input type="url" name="video"/>
  Description
  <textarea rows="4" cols="50" name="description"></textarea>
  <button type="submit">Envoyer</button>
</form>

{% else %}

<i> Connectez vous pour ajouter un tutoriel. </i>

{% endif %}

</section>
</body>
</html>
