{% load static %}

<header>
  <img src="{% static "guitutos/img/logo.png" %}" alt="Logo Guitarde"/>
  <h1> GUITARDE </h1>
  <p>
  {% if request.user.is_authenticated %}
  <span>Connecté en tant que {{ request.user.username }}</span>
  <a href="/tutos/deconnexion">Déconnexion</a>
  {% else %}
  <a href="/tutos/inscription">Inscription</a>
  <a href="/tutos/connexion">Connexion</a>
  {% endif %}
  <br /> <br /> <br />
  <a href="/tutos/">Accueil</a>
  </p> <br/>
  <p>Joue plus malin avec tes mains !</p>
</header>
