{% load static %}

<DOCTYPE html>
<html>
{% include "guitutos/head.html" %}
<body>
{% include "guitutos/header.html" %}
<section id="bod">
  <div>
    <article>
      <h2>Bienvenue sur Guitarde !</h2>
      <p>Vous pourrez ici visionner des tutoriels,
	en ajouter et en commenter. Apprenez la guitare
	facilement et en vous amusant ! </p>
        <img src="{% static "guitutos/img/equipe.jpg" %}" alt="L'équipe"/>

    </article>

    <article>
      <a href="/tutos/tutos"><h2>Liste des tutoriels</h2></a>
    </article>
  </div>
</section>
</body>
</html>
