<DOCTYPE html>
<html>
{% include "guitutos/head.html" %}

<body>
{% include "guitutos/header.html" %}

<section id="bod">
<h1> {{ tutoriel.nom }} </h1>

<iframe width="560" height="315" src="{{ tutoriel.toEmbarque }}" frameborder="0" allowfullscreen></iframe>
<br/>
<p> Tuto par {{ tutoriel.createur.username }} </p>
<ul>
{% for commentaire in liste_commentaires %}
    <li> <b> {{ commentaire.auteur.username }} : </b>
      <p> {{ commentaire.texte }} </p> </li>
{% endfor %}
</ul>
</section>
</body>
</html>
