<DOCTYPE html>
<html>
{% include "guitutos/head.html" %}

<body>
{% include "guitutos/header.html" %}

<section id="bod">
  <article><a href="/tutos/tutos"><h2>Aller à la liste des tutoriels</h2></a> </article>
<article>
  <h1> {{ tutoriel.nom }} </h1>

<iframe width="560" height="315" src="{{ tutoriel.toEmbarque }}" frameborder="0" allowfullscreen></iframe>
<br/>
<p> Tuto par {{ tutoriel.createur.username }} </p>
<br/>
  <p> {{ tutoriel.description }} </p>
</article>
{% if request.user.is_authenticated %}
<form method="post" action="#">
  Commenter :
  {% csrf_token %}
  {{ form }}
  <button type="submit">Envoyer</button>
</form>
{% else %}
<br/>
<i> Connectez vous pour commenter. </i>
{% endif %}
<ul>
{% for commentaire in liste_commentaires %}
    <li> <b> {{ commentaire.auteur.username }} : </b>
      <p> {{ commentaire.texte }} </p> </li>
{% endfor %}
</ul>
</section>
</body>
</html>
